body{
    margin: 0;
}
a{
    text-decoration: none;
}
.container{
    display: flex;
    width: 100%;
}
header{
    background-color:#ffffff;
    width: 1440px;
    height: 130px;
    display: flex;
}
.header-left {
    margin-left: 60px;
    margin-top: 30px;
}
.header-center{
    align-items: center;
    padding-top: 50px;
    padding-left: 12%;
}
.header-center a{
    margin: 20px;
    font-size: 24px;
    text-align: center;
    font-family: 'poppins',sans-serif;
    color: black;
}
.header-right{
    float: right;
    padding-left: 15%;
    margin-top: 50px;
    padding-right: 10%;
}

.header-right a{
    font-size: 24px;
    font-family: 'poppins', sans-serif;
    color: black;
}