* {
    box-sizing: border-box;
  }
  
  html, body,
  ul, ol, li,
  h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  a {
    text-decoration: none;
  }

  .top-wrapper {
    padding: 200px 0 100px ;
    background-image: url(file:///D:/pro/CoverCUT.png);
    background-size: cover;
    color: white;
    text-align: center;
    height: 700px;
    width: 100%;
  }
  .top-wrapper h2 {
    color: black;
    width: 420px;
    height: 90;
    padding: 10px;
    background-color: white;
    font-size: 48px;
    float:left;
    margin-left: 60px;
  }
  .top-wrapper h1 {
    width: 681px;
    height: 190px;
    font-size: 64px;
    margin-right: 60px;
    letter-spacing: 5px;
    color: white;
    float: right;
    text-align: right;
  }
  .btn-wrapper {
    text-align: left;

  }
  .shopnow {
    background-color: #000000;
    margin-top: 10px;
    margin-left: 60px;
  }
  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    text-align: center;
  }
  .btn:hover{
      opacity: 1;
  }
  .collections {
      font-size: 64px;
      height: 160px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.9);
  }
